.GMonoD{
    width: max-content;
    height: auto;
    display: flex;
    width: 70%;
    align-items: center;
    justify-content: center;
    margin: 10px;
}
.foto{
    width: 350px;
}
.monolog{
    color: white;
    background: #001f25;
    height: 20em;
    border-radius: 10px;
    position: relative;
    z-index: 10000000;
    padding: 10px;
    animation: colorofied 3s linear infinite;
    
}

.monolog::before{
    content: '';
    position: absolute;
    border: 5px solid #00efff;
    top: 0;
    left: 0;
    border-radius: 10px;
    width: calc(100% - 10px);
    height: calc(100% - 10px);
    animation: colorified 4s linear infinite;
}

.titleMono{
    font-size: 4em;
}
.subtitle{
    margin-top: 10px;
    margin-bottom: 10px;
}
.buttonCV{
    margin: 18px;
}

@keyframes colorified {
    0%{
        filter: hue-rotate(0deg);
    }
    100%{
        filter: hue-rotate(360deg);
    }
    
}
.icons{
    width: 100px;
    animation: levitate 4s infinite linear;
    transition: 2s;
    animation-delay: calc(0.5s * var(--d));
}
.js{
    position: absolute;
    top: 7%;
    left: 20%;
    filter:drop-shadow(0 0 20px rgba(225, 215, 35, 0.4)) drop-shadow(0 0 40px rgba(225, 215, 35, 0.4)) drop-shadow(0 0 60px rgba(225, 215, 35, 0.4))
}
.react{
    position: absolute;
    top: 7%;
    left: 40%;
    filter:drop-shadow(0 0 20px rgba(35, 203, 225, 0.4)) drop-shadow(0 0 40px rgba(35, 203, 225, 0.4)) drop-shadow(0 0 60px rgba(35, 203, 225, 0.4))
}
.ts{
    position: absolute;
    bottom: 10%;
    right: 40%;
    width: 90px;
    filter:drop-shadow(0 0 20px rgba(35, 108, 225, 0.4)) drop-shadow(0 0 40px rgba(35, 108, 225, 0.4)) drop-shadow(0 0 60px rgba(35, 108, 225, 0.4));
}
.node{
    position: absolute;
    bottom: 10%;
    right: 20%;
    width: 90px;
    filter:drop-shadow(0 0 20px rgba(35, 225, 51, 0.4)) drop-shadow(0 0 40px rgba(35, 225, 51, 0.4)) drop-shadow(0 0 60px rgba(35, 225, 51, 0.4));
}
@keyframes levitate {
    0%{
        transform:translateY(0%);
    }
    50%{
        transform:translateY(20%);
    }
    100%{
        transform: translateY(0%);
    }
}